<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <div id="Immortalis" class="carousel slide">
        <div class="carousel-inner">

          <div class="item active">
            <img src="#" alt="" />
              <div class="carousel-caption">
                <p>Welcome to my world</p>
              </div>
          </div>

          <div class="item">
            <img src="#" alt="" />
              <div class="carousel-caption">
                <p>This is were i will show case a few things about me</p>
              </div>
          </div>

          <div class="item">
            <img src="#" alt="" />
              <div class="carousel-caption">
                <p>Family, a big role in life</p>
              </div>
          </div>

          <div class="item">
            <img src="#" alt="" />
              <div class="carousel-caption">
                <p>Games Workshop project - Disciple of caliban</p>
              </div>
          </div>

          <div class="item">
            <img src="#" alt="" />
              <div class="carousel-caption">
                <p>Web project - ie this</p>
              </div>
          </div>

          <div class="item">
            <img src="#" alt="" />
              <div class="carousel-caption">
                <p>PS3 theme i have built</p>
              </div>
          </div>

          <div class="item">
            <img src="#" alt="" />
              <div class="carousel-caption">
                <p>The transport - Biking</p>
              </div>
          </div>

          <div class="item">
            <img src="#" alt="" />
              <div class="carousel-caption">
                <p>Current books i'm reading - too many i know.</p>
              </div>
          </div>
        </div>
          <a class="carousel-control left" href="#OvalSkiClub" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#OvalSkiClub" data-slide="next">&rsaquo;</a>
      </div>

    <div class="container">
      <div class="hero-unit">
        <h1>Hello there</h1>
        <p class="lead">
        Hi my name is....hang on a second this my webpage, all about me. So why don't i forgo the usual this is the skillsets i have and this is what i want in life. If you want that e-mail me or read my cv at monster. This here site is for me to showcase my  personality ( & yes a bit of my skillset, but shhh our secret ). I plan on doing a few pages covering, tech reviews that i can get my mitts on, game reviews that ihave played or news about anything coming out that could be useful. Books reviews, model reviews (plastic not what you think gutter mind). I'll even throw in the odd real world news if posssible.<br></br>So sit back and enjoy what i hope will be a pleasing endeavor for all.</p>
          <div class="button" style="text-align:center">
          <p><a class="btn btn-primary btn-large "  href="about">More about us &raquo;</a></p>
          </div>
      </div>
     
    </div>
    </div>
  </div>

      
    </div>

  <script src="js/jquery-1.9.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>$(document).ready(function(){$('carousel').carousel({interval: 3000})});</script>
</body>
</html>
