@import url(assets/css/bootstrap.css);
@import url(assets/css/bootstrap-responsive.css);
@import url(assets/css/scaffolds.css);

 .navbar .brand {
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0 10px 0 0;
	background: url(../assets/images/mechaincum_logo.png) no-repeat;
}